@font-face {
  font-family: 'Kumbh-Sans';
  src: url(./fonts/static/KumbhSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Kumbh-Sans';
  src: url(./fonts/static/KumbhSans-Bold.ttf);
  font-weight: 700;
}
