* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin-top: 20px;
}
form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(29, 43, 43);
  padding: 50px;
  border-radius: 20px;
  margin-top: 30px;
}
form input {
  width: 100%;
  border-radius: 10px;
  padding: 15px 10px;
  border: none;
  border-bottom: 3px solid #682a2a;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1.1em;
  color: #aa8989;
  outline: none;
}
form input:hover {
  background-color: #5f3333;
}
form input::placeholder {
  color: #aa8989;
  font-size: 1.1em;
  letter-spacing: 3px;
}
form input[type='submit'] {
  width: 80%;
  border-radius: 10px;
  padding: 15px 10px;
  border: none;
  background-color: #682a2a;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
form input[type='submit']:hover {
  color: #aa8989;
  background-color: #682a2aa8;
}
