.content {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-template-rows: 50px;
  grid-auto-rows: 50px;
}

.content div {
  padding: 10px;
  border: 1px solid #26e;
  margin: 5px;
}
button {
  padding: 9px 40px;
  background-color: #48e;
  border: none;
  margin: 30px;
}
